@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'apptime';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';

  --color-base-100: #010b13;
  --color-base-200: #02182b;
  --color-base-300: #022340;
  --color-base-content: #ffffff;

  --color-primary: #00b4d8;
  --color-primary-content: #000000;
  --color-secondary: #8b5cf6;
  --color-secondary-content: #ffffff;
  --color-accent: #ec4899;
  --color-accent-content: #ffffff;

  --color-neutral: #374151;
  --color-neutral-content: #ffffff;

  --color-info: #3b82f6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

@layer base {
  body {
    margin: 0;
    background-color: var(--color-base-100);
    color: var(--color-base-content);
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: -0.02em;
  }

  .font-accent {
    font-family: 'Noto Serif', serif;
  }
}
