@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'apptime';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';

  --color-base-100: #000000;
  --color-base-200: #080808;
  --color-base-300: #111111;
  --color-base-content: #93c5fd;

  --color-primary: #3b82f6;
  --color-primary-content: #000000;
  --color-secondary: #2563eb;
  --color-secondary-content: #000000;
  --color-accent: #60a5fa;
  --color-accent-content: #000000;

  --color-neutral: #000000;
  --color-neutral-content: #93c5fd;

  --color-info: #3b82f6;
  --color-success: #2563eb;
  --color-warning: #60a5fa;
  --color-error: #1d4ed8;

  --radius-selector: 2rem;
  --radius-field: 1.5rem;
  --radius-box: 1rem;
}

@layer base {
  body {
    margin: 0;
    background-color: var(--color-base-100);
    color: var(--color-base-content);
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -0.02em;
  }

  .font-accent {
    font-family: 'Handlee', cursive;
    font-style: italic;
  }
}
